body, html {
	margin: 0;
	padding: 0;
}
#navigation {
	width: 200px;
	font: 90% Arial, Helvetica, sans-serif;
	position: absolute;
	top: 41px;
	left: 0;
}
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
#navigation li {
	border-bottom: 1px solid #ED9F9F;
	margin: 0;
}
#navigation li a:link, #navigation li a:visited {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 12px solid #711515;
	border-right: 1px solid #711515;
	color: #ffffff;
	background-color: #b51032;
	text-decoration: none;
}
#navigation li a:hover {
	color: #ffffff;
	background-color: #711515;
}

#content {
	margin-left: 260px;
	margin-right: 60px;
}
#banner {
	height: 40px;
	background-color: #711515;
	border-bottom: 1px solid #ED9F9F;
	text-align: right;
	padding-right: 20px;
	margin-top: 0;
}
#banner ul {
	margin: 0;
	padding: 0;
}
#banner li {
	display: inline;
}
#banner a:link, #banner a:visited {
	font: 80% Arial, Helvetica, sans-serif; 
	color: #ffffff;
	background-color: transparent;
}
#content p, #content li {
	font: 80%/1.6em Arial, Helvetica, sans-serif;
}
#content p {
	margin-left: 1.5em;
}
#content h1, #content h2 {
	font: 140% Georgia, "Times New Roman", Times, serif;
	color: #B51032;
	background-color: transparent;
}
#content h2 {
	font: 120% Georgia, "Times New Roman", Times, serif;
	padding-bottom: 3px;
	border-bottom: 1px dotted #ED9F9F;
}

#content pn {
	float: left;
    width: 300px;
	margin-right: 6px;
	margin-bottom: 10px;
	font: bold 0.8em Arial, Helvetica, sans-serif;
	color: #333333;
}


#content img {
	display: block;
	border: 1px solid #333300;
}